<?xml version="1.0"?>
<config>
    <modules>
        <SomethingDigital_FeaturedCategory>
            <version>0.1.0</version>
        </SomethingDigital_FeaturedCategory>
    </modules>
    <global>
        <models>
            <sd_navigation>
                <class>SomethingDigital_FeaturedCategory_Model</class>
            </sd_navigation>
            <catalog_resource>
                <rewrite>
                    <category_flat>SomethingDigital_FeaturedCategory_Model_Resource_Navigation</category_flat>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <somethingdigital_featuredcategory_setup>
                <setup>
                    <module>SomethingDigital_FeaturedCategory</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </somethingdigital_featuredcategory_setup>
        </resources>
    </global>
    <frontend>
        <category>
            <collection>
                <attributes>
                    <featured_category/>
                </attributes>
            </collection>
        </category>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <catalog_add_topmenu_items>
                        <type>disabled</type>
                    </catalog_add_topmenu_items>
                    <sd_catalog_add_topmenu_items>
                        <type>singleton</type>
                        <class>sd_navigation/observer</class>
                        <method>addCatalogToTopmenuItems</method>
                    </sd_catalog_add_topmenu_items>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </frontend>
</config>

